@page
@model TableBooking.Pages.BooktableModel
@{
}


<form method="post">
    <div class="form-group">
        <label for="number">Table Number</label>
        <input type="text" class="form-control" asp-for="@Model.TableNumber" readonly placeholder="@Model.TableNumber">
        <span asp-validation-for="@Model.TableNumber"></span>
        <small id="tableNumber" class="form-text text-muted">Table you are booking</small>
    </div>
    <div class="form-group">
        <label for="number">Who is booking?</label>
        <input type="text" class="form-control" asp-for="@Model.FirstName" placeholder="Enter First Name">
        <span asp-validation-for="@Model.FirstName"></span>
        <small id="firstName" class="form-text text-muted">Your First name.</small>
    </div>
    <div class="form-group">
        <label for="seats">How many seat?s</label>
        <input type="text" class="form-control" asp-for="@Model.Seats" placeholder="Enter the amount of seats to book">
        <span asp-validation-for="@Model.Seats"></span>
        <small id="seats" class="form-text text-muted">Make sure to check how many seats there are per table!!!!</small>
    </div>
    <button type="submit" class="btn btn-secondary">Book</button>
</form>